extends layout

block content
  h1= title
  p
    | Welcome to nodejs.geek.nz, a site to help promote Node.js in New Zealand. It 
    | also helps link companies needing developers and developers with companies.
