extends layout

block content
  p
    | Welcome to nodejs.geek.nz, a site to help promote Node.js in New Zealand. We
    | also share news, info about developers and info about companies using the
    | technology.
    | also helps link companies needing developers and developers with companies.

  h2 How to find us?
  p.
    People in New Zealand are coming out of the woodwork all the time and we're finding
    more and more companies using Node.js. However, we'd love to hear more. Please find
    and join us at the following locations:
  ul
    li
      | Follow the 
      a(href="https://twitter.com/NodeJSNZ") @NodeJSNZ
      |  Twitter feed.
    li
      | On the 
      a(href="https://groups.google.com/forum/#!forum/nodejs-nz") Node.js NZ
      |  mailing list.
    li
      | In the 
      a(href="http://www.meetup.com/Node-js-Wellington/") Node.js Wellington
      |  MeetUp group.
    li
      | In the 
      a(href="http://www.meetup.com/Node-nz-Auckland-MeetUp-Group/") Node.nz - Auckland
      |  MeetUp group.
    li
      | Or hangout in the #nodejsnz channel on Freenode.

  h2 Under Construction!!!
  p We're doing up the site. Please come back soon y'hear!
